<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatos - Spider Man</title>
</head>
<body>
    <ul>
        <h1>Redes Sociais</h1>
        <li><a href="mailto:danielfinotti2@gmail.com">danielfinotti2@gmail.com</a></li>
        <li><a href="https://www.linkedin.com/in/daniel-finotti-123456789/">LinkedIn</a></li>
        <li><a href="https://github.com/daniel-finotti">GitHub</a></li>
        <li><a href="https://instagram.com/euodeene">Instagram</a></li>
        <li><a href="https://twitter.com/daniel_finotti">Twitter</a></li>
        <li><a href="https://wa.me/5521994856055">WhatsApp</a></li>
    </ul>
    <nav>
        <h1>Navegação</h1>
        <ul>
            <li><a href="index.html">Início</a></li>
            <li><a href="Wiki.html">Wiki</a></li>
        </ul>
    </nav>
</body>
</html>